<a href="https://colab.research.google.com/github/Nivedita-325/python-practice/blob/main/Assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Accept input from user and store it in variable and print the value

In [ ]:
a=input()
print(a)

5
5

Use of print statements and use of (.format )for printing different data types

In [20]:
a=10.5;
print(type(a));
#before conversion
b=str(a);
print(b);
print(type(b));
#after conversion
c=int(a);
print(c);
print(type(c));
d=bool(a);
print(d);
print(type(d));
e=complex(a);
print(e);
print(type(e));

<class 'float'>
10.5
<class 'str'>
10
<class 'int'>
True
<class 'bool'>
(10.5+0j)
<class 'complex'>

Take 2 numbers as user input and add, multiply, divide, subtract, remainder and print the output

In [ ]:
a=int(input())
b=int(input())
sum=a+b
multi=a*b
div=a/b
sub=a-b
print(sum,multi,div,sub)

23
24
47 552 0.9583333333333334 -1

Conversion of one unit to another (such as hours to minutes, miles to km and etc)

In [ ]:
h=int(input())
m=int(input())
min=h*60
km=1.60934*m
print(min,km)

10
12
600 19.31208

Usage of mathematical functions in python like math.ceil, floor, fabs, fmod, trunc,pow, sqrt etc

In [27]:
import math
print(math.ceil(1.4))
print(math.floor(1.4))
print(math.fabs(-7))
print(math.fmod(20, 4))
print(math.trunc(2.77))
x = pow(4, 3)
print(x)
print (math.sqrt(9))

2
1
7.0
0.0
2
64
3.0

Building a mathematical calculator that can perform operations according to user input.

In [28]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))
print("Operation: +, -, *, /")
select = input("Select operations: ")
if select == "+":
    print(num1, "+", num2, "=", num1+num2)
elif select == "-":
    print(num1, "-", num2, "=", num1-num2)
elif select == "*":
    print(num1, "*", num2, "=", num1*num2)
elif select == "/":
    print(num1, "/", num2, "=", num1/num2)
else:
    print("Invalid input")

Enter first number: 13
Enter second number: 12
Operation: +, -, *, /
Select operations: /
13.0 / 12.0 = 1.0833333333333333

Accepting 5 different subject marks from user and displaying the grade of the student

In [ ]:
s1=int(input())
s2=int(input())
s3=int(input())
s4=int(input())
s5=int(input())
tot=(s1+s2+s3+s4+s5)/5
if tot > 90:
  print("A")
elif tot > 80 :
  print("B")
elif tot > 70 :
  print("C")
elif tot > 60 :
  print("D")    
elif tot > 50 :
  print("E")
elif tot > 40 :
  print("F")

100
100
12
12
12
F

Printing all even numbers, odd numbers, count of even numbers, count of odd numbers within a given range.

In [ ]:
a=int(input())
b=int(input())
c=0
o=0
for x in range(a,b):
  if(x%2==0) :
    print(x)
    c=c+1
  elif(x%2!=0) :
    print(x)
    o=o+1
print(c)
print(o)

5
6
5
0
1

Compute the factorial of a given number

In [ ]:
num = int(input("Enter a number: "))    
factorial = 1    
if num < 0:    
   print(" Factorial does not exist for negative numbers")    
elif num == 0:    
   print("The factorial of 0 is 1")    
else:    
   for i in range(1,num + 1):    
       factorial = factorial*i    
   print("The factorial of",num,"is",factorial)

Enter a number: 5
The factorial of 5 is 120

 Compute GCD of two given numbers

In [31]:
x =int(input("Enter a number: ")) 
y =int(input("Enter a number: "))
if x > y:
  x, y = y, x
for i in range(1,x+1):
  if x%i == 0 and y%i == 0:
    gcd = i

print("GCD of", x, "and", y, "is:", gcd)

Enter a number: 50
Enter a number: 100
GCD of 50 and 100 is: 50

Generate Fibonacci series up to N numbers

In [ ]:
nterms = int(input("How many terms? "))
n1, n2 = 0, 1
count = 0
print("Fibonacci sequence:")
while count < nterms:
       print(n1)
       nth = n1 + n2
       # update values
       n1 = n2
       n2 = nth
       count += 1

How many terms? 3
Fibonacci sequence:
0
1
1

Check whether the given input is  palindrome

In [ ]:
num=int(input("Enter a number:"))
a=num
rev=0
while(num>0):
    dig=num%10
    rev=rev*10+dig
    num=num//10
if(a==rev):
    print("The number is palindrome!")
else:
    print("Not a palindrome!")

Enter a number:1001
The number is palindrome!

Check whether the given input is strong

In [ ]:
num=int(input("Enter a number:"))
sum=0
act=num
while(num):
    i=1
    f=1
    r=num%10
    while(i<=r):
        f=f*i
        i=i+1
    sum=sum+f
    num=num//10
if(sum==act):
    print("The number is a strong number")
else:
    print("The number is not a strong number")

Enter a number:16
The number is not a strong number

Check whether the given input is perfect

In [ ]:
num=int(input("Enter a number:"))
sum=0
for i in range(1, num):
    if(num % i == 0):
        sum = sum + i
if (sum == num):
    print("Perfect Number")
else:
    print("not a Perfect Number")

Enter a number:12
not a Perfect Number

Compute compound interest using loop for a certain principal and interest amount

In [30]:
n=int(input("Enter the principle amount:"))
rate=int(input("Enter the rate:"))
years=int(input("Enter the number of years:"))
for i in range(years):
    n=n+((n*rate)/100)
print(n)

Enter the principle amount:100
Enter the rate:2
Enter the number of years:2
104.04