<a href="https://colab.research.google.com/github/Nivedita-325/python-practice/blob/module2/module_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Create a function which accepts two inputs from the user and compute n
Cr

In [ ]:
def nCr(n, r):
    return (fact(n) / (fact(r)
                * fact(n - r)))
def fact(n):
    res = 1    
    for i in range(2, n+1):
        res = res * i     
    return res
nCr(n=int(input()),r=int(input()))

5
2

10.0

Program to print a specified list after removing the 0th, 4th and 5th elements.

In [ ]:
list= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
list.pop(5)
list.pop(4)
list.pop(0)
print(list)

['Green', 'White', 'Black']

Program to get the difference between the two lists.

In [ ]:
l1= ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow'] 
l2= ['Red', 'Green', 'White', 'Black']
x=set(l1)
y=set(l2)
z=x.difference(y)
print(z)

{'Yellow', 'Pink'}

Program to find the second smallest number and second largest number in a list

In [ ]:
list=[1,2,3,4,5]
length=len(list)
list.sort()
print(list)
print("Second Largest element is:", list[length-2])
print("Second Smallest element is:", list[1])

[1, 2, 3, 4, 5]
Second Largest element is: 4
Second Smallest element is: 2

Given a list of numbers of list, write a Python program to create a list of tuples
having first element as the number and second element as the square of the
number.

In [ ]:
list = [23, 42, 67, 89, 11, 32]
print(list)
result = [(val, pow(val, 2)) for val in list]
print(result)

[23, 42, 67, 89, 11, 32]
[(23, 529), (42, 1764), (67, 4489), (89, 7921), (11, 121), (32, 1024)]

Given list of tuples, remove all the tuples with length K.

In [ ]:
list = [(32, 51), (22,13 ), (94, 65, 77), (70, ), (80, 61, 13, 17)]
print(list)
K = 2
result = [x for x in list if len(x) != K]
print(result)

[(32, 51), (22, 13), (94, 65, 77), (70,), (80, 61, 13, 17)]
[(94, 65, 77), (70,), (80, 61, 13, 17)]

 Program to generate and print a dictionary that contains a number (between 1
and n) in the form (x, x*x).

In [ ]:
n=int(input("Input a number "))
d = dict()
for x in range(1,n+1):
    d[x]=x*x
print(d)

Input a number 10
{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

Program to remove a key from a dictionary

In [ ]:
D = {'a':1,'b':2,'c':3,'d':4}
print(D)
if 'a' in D: 
    del D['a']
print(D)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}
{'b': 2, 'c': 3, 'd': 4}

Program to perform operations on string using unicodes ,splitting of string,accessing
elements of string using locations

In [ ]:
a='Nivedita, Kanithi'
print(a)
print(len(a))
print(a[2:5])
print(a.split(","))

Nivedita, Kanithi
17
ved
['Nivedita', ' Kanithi']

Program for Counting occurrence of a certain element in a string, getting indexes that
have matching elements

In [ ]:
message = 'I have to go to a doctor and get myself checked.'
print('Number of occurrence of to:', message.count('to'))

Number of occurrence of to: 3

Program for replacing one substring by another

In [ ]:
txt = "Rabbit"
x = txt.replace("b", "c")
print(x)

Raccit

Program to Acronym generator for any user input

In [ ]:
user_input = input("Enter a phrase: ")
phrase = (user_input.replace('of', '')).split()
acronym = ""
for word in phrase:
    acronym = acronym + word[0].upper()
print(f'Acronym of {user_input} is {acronym}')

Enter a phrase:  Random memory access
Acronym of  Random memory access  is RMA

Program to get the maximum and minimum value in a dictionary

In [ ]:
dictionary = {"a": 5, "b": 2, "c": 8}
 
max_key=max(dictionary, key=dictionary.get)
min_key = min(dictionary, key=dictionary.get)
print(max_key)
print(min_key)

print(dictionary.get(max_key)) 
print(dictionary.get(min_key))

c
b
8
2

Python function that accepts a string and calculates the number of uppercase
letters and lowercase letters.

In [ ]:
string=input("Enter string:")
count1=0
count2=0
for i in string:
      if(i.islower()):
            count1=count1+1
      elif(i.isupper()):
            count2=count2+1
print("The number of lowercase characters is:")
print(count1)
print("The number of uppercase characters is:")
print(count2)

Enter string: Random memory access
The number of lowercase characters is:
17
The number of uppercase characters is:
1

Program to count the number of strings where the string length is 2 or more and
the first and last character are same from a given list of strings

In [ ]:
def match_words(words):
  d = 0
  for word in words:
    if len(word) > 1 and word[0] == word[-1]:
      d += 1
  return d

print(match_words(['abc', 'xyz', 'aba', '1221']))

2