<a href="https://colab.research.google.com/github/Nivedita-325/python-practice/blob/main/setsp1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
s1 = {"apple", "banana", "cherry"}
print(s1)
print(len(s1))
print(type(s1))
for x in s1:
  print(x)
print("banana" in s1)

{'apple', 'cherry', 'banana'}
3
<class 'set'>
apple
cherry
banana
True

In [ ]:
s2 = {"apple", "banana", "cherry"}
s2.add("orange")
print(s2)
set2 = {"apple", "banana", "cherry"}
set3 = {"pineapple", "mango", "papaya"}
set2.update(set3)
print(set2)
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]
thisset.update(mylist)
print(thisset)

{'orange', 'apple', 'cherry', 'banana'}
{'mango', 'apple', 'papaya', 'pineapple', 'cherry', 'banana'}
{'kiwi', 'orange', 'apple', 'cherry', 'banana'}

In [1]:
thisset = {"apple", "banana", "cherry"}
for x in thisset:
  print(x)

apple
banana
cherry

In [3]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set3 = set1.union(set2)
print(set3)
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}
set1.update(set2)
print(set1)

{1, 2, 3, 'b', 'a', 'c'}
{1, 2, 3, 'b', 'a', 'c'}

In [5]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.intersection_update(y)
z=x.intersection(y)
print(x)
print(z)

{'apple'}
{'apple'}

In [10]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
x.symmetric_difference_update(y)
print(x)
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.symmetric_difference(y)
print(z)

{'banana', 'google', 'cherry', 'microsoft'}
{'banana', 'google', 'cherry', 'microsoft'}

In [11]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z = x.difference(y)##Return a set that contains the items that only exist in set x, and not in set y
print(z)

{'banana', 'cherry'}

In [15]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}
z = x.isdisjoint(y)##Return True if no items in set x is present in set y
print(z)
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}
z = x.issubset(y)##Return True if all items in set x are present in set y
print(z)
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}
z = x.issuperset(y)##Return True if all items set y are present in set x
print(z)

True
True
True