<a href="https://colab.research.google.com/github/Nivedita-325/python-practice/blob/main/tupl.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
t1 = ("apple", "banana", "cherry")
print(t1)

('apple', 'banana', 'cherry')

In [34]:
t2 = ("apple",)
print(type(t2))

#NOT a tuple
t3 = ("apple")
print(type(t3))

<class 'tuple'>
<class 'str'>

In [11]:
t1 = ("apple", "banana", "cherry")
print(t1)
print(t1[1])
print(t1[-1])
if "apple" in t1:
  print("Yes, 'apple' is in the fruits tuple")

('apple', 'banana', 'cherry')
banana
cherry
Yes, 'apple' is in the fruits tuple

In [21]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
print(x)
y = list(x)
y.append("orange")
x = tuple(y)
print(x)
y=("guava",)
x += y
print(x)
y = list(x)
y.remove("orange")
x = tuple(y)
print(x)

('apple', 'kiwi', 'cherry')
('apple', 'kiwi', 'cherry', 'orange')
('apple', 'kiwi', 'cherry', 'orange', 'guava')
('apple', 'kiwi', 'cherry', 'guava')

USING ASTERISK(*)

In [26]:
fruits = ("apple", "banana", "cherry")
(green, yellow, red) = fruits
print(green)
print(yellow)
print(red)
fruits = ("apple", "banana", "cherry", "strawberry", "raspberry")
(green, yellow, *red) = fruits
print(green)
print(yellow)
print(red)
fruits = ("apple", "mango", "papaya", "pineapple", "cherry")
(green, *tropic, red) = fruits
print(green)
print(tropic)
print(red)

apple
banana
cherry
apple
banana
['cherry', 'strawberry', 'raspberry']
apple
['mango', 'papaya', 'pineapple']
cherry

In [24]:
t4 = ("apple", "banana", "cherry", "orange", "kiwi", "melon", "mango")
print(t4[2:5])
print(t4[:4])
print(t4[2:])
print(t4[-4:-1])
len(t4)

('cherry', 'orange', 'kiwi')
('apple', 'banana', 'cherry', 'orange')
('cherry', 'orange', 'kiwi', 'melon', 'mango')
('orange', 'kiwi', 'melon')

7

In [29]:
t5 = ("apple", "banana", "cherry")
for x in t5:
  print(x)
for i in range(len(t5)):
  print(t5[i])
i = 0
while i < len(t5):
  print(t5[i])
  i = i + 1

apple
banana
cherry
apple
banana
cherry
apple
banana
cherry

In [31]:
tuple1 = ("a", "b" , "c")
tuple2 = (1, 2, 3)
tuple3 = tuple1 + tuple2
print(tuple3)
fruits = ("apple", "banana", "cherry")
mytuple = fruits * 2
print(mytuple)

('a', 'b', 'c', 1, 2, 3)
('apple', 'banana', 'cherry', 'apple', 'banana', 'cherry')

In [33]:
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.count(5)
print(x)
thistuple = (1, 3, 7, 8, 7, 5, 4, 6, 8, 5)
x = thistuple.index(8)
print(x)

2
3